{% extends 'base.html' %}
{% block content %}
<br>
<br>
 <div class="container text-center">
      <h2 class="display-4">What Is <span class="text-warning font-weight-bold">Donor Adviser</span>?</h2>
</div>
<div class="container text-left">
      <p class="lead">Most people think of large foundations when they hear <span class="text-primary">philanthropy</span>, but individual donors are the lifeblood of the nonprofit sector. Donors share a passion for the mission of the organizations they support and build strong relationships with their leaders. Thus, almost two-thirds of nonprofit leaders say that they would prefer to receive more of their funding from individual donors.</p>
</div>
{% endblock %}