{% extends 'base.html' %}
{% block content %}
<div class="container-fluid p-0 m-0 w-100" style="height:57vh;background:url('https://images.pexels.com/photos/1072824/pexels-photo-1072824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center fixed; background-size: cover; opacity: 0.5">
</div>
<br>
<div class="container text-center">
      <h2 class="display-4">What Is <span class="text-warning font-weight-bold">Donor Adviser</span>?</h2>
</div>
<hr>
<div class="container">
    <p class="lead">There are more than 1.7 million registered nonprofits in the United States with one common goal - raise enough money to offer services to benefit their communities. 
    Donor Adviser™ safely connects individual donors with nonprofits whose missions reflect their philanthropic goals.</p>
    <br>
    <p class="lead">Most people think of large foundations when they hear <span class="text-warning font-weight-bold">philanthropy</span>, but individual donors are the lifeblood of the nonprofit sector! 
    Donor Adviser is a national database of nonprofit organizations that are seeking support from individuals, corporations, foundations, donor advised funds and governmental agencies.</p>
    <br>
    <p class="lead">Sites like Guidestar, Charity Navigator and Candid provide ratings for charities, but only Donor Adviser helps <span class="text-warning font-weight-bold">match</span> donors with nonprofits and allows supporters to ensure that <span class="text-warning font-weight-bold">100%</span> of their donation goes to their favorite organization.*</p>
    <br>
    <p class="lead">No need to sign up for browsing! Sign up to create a list of favorite organizations, donate, leave a review and receive our monthly newsletter.</p>
</div>
<br>
{% endblock %}